* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: white;
}

header {
    padding: 10px;
    background-color: black;
    color: lightblue;
}

header h1 {
    color: black;
    background-color: lightblue;
    display: inline-block;
    padding: 5px;
    padding-left: 100px;
    font-size: 50px;
}

header nav {
    font-size: 20px;
    padding: 20px;
    float: right;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: lightblue;
}

.subtitle {
    position: relative;
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
    background-image: url("../images/codioful-formerly-gradienta-Mx688PpeE2A-unsplash.jpg");
}

.subtitle h2 {
    padding: 5px;
    margin: 30px;
    color: black;
    background-color: lightblue;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 25px;
}

.container {
    display: flex;

    /* border: solid; */
    /* border-color: black; */
    margin: 20px;
    margin-top: 0;

}

.item-1 {
    flex: 0 0 20%;
    width: 30%;
    height: 100px;
    margin: 20px;
    padding: 20px;
    text-align: end;
    font-size: 50px;
    /* border: black solid; */
    border-right: solid black;
}

.item-2 {
    flex: 0 0 77%;

    width: 30%;
    height: 100px;
    margin: 20px;
    padding: 20px;
    /* border: solid black; */
}

.container-2 {
    display: flex;
    /* border: solid; */
    /* border-color: black; */
    margin: 20px;
    height: 950px;
    margin-top: 0;
}

.item-3 {
    width: 30%;
    flex: 0 0 20%;
    height: 900px;
    margin: 20px;
    padding: 20px;
    text-align: end;
    font-size: 50px;
    /* border: black solid; */
    border-right: solid black;

}

.subcontainer {
    max-width: 70%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    padding: 20px;
    height: 900px;



}

.item-4 {
    flex: 0 0 100%;
    height: 400px;

    padding-top: 0;
    border: solid lightblue;
    background-image: url("https://images.unsplash.com/photo-1614854262318-831574f15f1f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-size: 100%;
    background-position: center;

}

.item-5 {
    border: solid lightblue;
    height: 200px;

    flex: 0 0 47%;
    background-image: url("../images/finn-whelen-VIRmZ96TM58-unsplash.jpg");
    background-size: 100%;
    background-position: center;

}

.item-6 {

    border: solid lightblue;
    height: 200px;
    flex: 0 0 47%;
    background-image: url("https://images.unsplash.com/photo-1636033503567-a59bff19d79a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-size: 100%;
    background-position: center;

}

.item-7 {
    border: solid lightblue;
    height: 200px;
    flex: 0 0 47%;
    background-image: url("https://images.unsplash.com/photo-1494059980473-813e73ee784b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80");
    background-size: 100%;
    background-position: center;

}

.item-8 {

    border: solid lightblue;
    height: 200px;
    flex: 0 0 47%;
    background-image: url("https://plus.unsplash.com/premium_photo-1664299530606-5af66edd9808?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2299&q=80");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.subcontainer h3,
h4 {

    width: 170px;
    height: 30px;
    color: black;
    background-color: lightblue;
    font-size: 15px;


}

button:hover {
    border: solid yellow;
    display: inline;
}

.container-3 {
    display: flex;
    /* border: solid; */
    /* border-color: black; */
    margin: 20px;
    height: 100px;
    margin-top: 0;

}

.item-9 {
    flex: 0 0 20%;
    height: 150px;
    margin: 20px;
    padding: 20px;
    text-align: end;
    font-size: 50px;
    /* border: black solid; */
    border-right: solid black;

}

.subcontainer-2 {
    max-width: 70%;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    padding: 20px;
    height: 100px;
    flex: 0 0 77%;
    /* border: black solid; */
}

.subcontainer-2 h3 {
    color: black;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;

}

a {
    text-decoration: none;
}

/* @media screen and (min-width: 1000px) {
    .item-4 {
        flex: 0 0 50%;
        width: 200px;
        margin: 0;
        padding: 0;
    }

    .item-5 {
        flex: 0 0 50%;
        width: 100px;
        margin: 0;
        padding: 0;
    }

    .item-6 {
        flex: 0 0 50%;
        width: 100px;
        margin: 0;
        padding: 0;
    }

    .item-7 {
        flex: 0 0 50%;
        width: 100px;
        margin: 0;
        padding: 0;
    }

    .item-8 {
        flex: 0 0 50%;
        width: 100px;
        margin: 0;
        padding: 0;
    }

} */